In [ ]:
import warnings
warnings.filterwarnings("ignore")
import shutil
import os
import pandas as pd
import matplotlib
matplotlib.use(u'nbAgg')
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pickle
import tqdm
# !pip install downcast
from downcast import reduce

In [ ]:
!pip install downcast

Collecting downcast
  Downloading https://files.pythonhosted.org/packages/60/11/0468306ef6b191c6f53a0005f96e289494f885556a4ab80c438adc64a99f/downcast-0.0.8-py3-none-any.whl
Installing collected packages: downcast
Successfully installed downcast-0.0.8

In [ ]:
from google.colab import files
files.upload()

Saving kaggle (3).json to kaggle (3).json

{'kaggle (3).json': b'{"username":"shantanuekhande","key":"7c0f27a1e48312dc37124571a15b336e"}'}

In [ ]:
import os
os.environ['KAGGLE_USERNAME'] = "shantanuekhande"
os.environ['KAGGLE_KEY'] = "7c0f27a1e48312dc37124571a15b336e"
!kaggle competitions download -c 'm5-forecasting-accuracy'  -p 'train'    ## getting all data into train folder

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading calendar.csv to train
  0% 0.00/101k [00:00<?, ?B/s]
100% 101k/101k [00:00<00:00, 41.5MB/s]
Downloading sales_train_evaluation.csv.zip to train
 57% 9.00M/15.8M [00:00<00:00, 24.1MB/s]
100% 15.8M/15.8M [00:00<00:00, 35.7MB/s]
Downloading sales_train_validation.csv.zip to train
 58% 9.00M/15.5M [00:00<00:00, 24.7MB/s]
100% 15.5M/15.5M [00:00<00:00, 39.3MB/s]
Downloading sample_submission.csv.zip to train
  0% 0.00/163k [00:00<?, ?B/s]
100% 163k/163k [00:00<00:00, 128MB/s]
Downloading sell_prices.csv.zip to train
 63% 9.00M/14.2M [00:00<00:00, 30.2MB/s]
100% 14.2M/14.2M [00:00<00:00, 40.9MB/s]

In [ ]:
! mkdir final_train

In [ ]:
!7z e /content/train/sales_train_evaluation.csv.zip -o/content/final_train
!7z e /content/train/sales_train_validation.csv.zip -o/content/final_train
!7z e /content/train/sample_submission.csv.zip -o/content/final_train
# !7z e /content/train/calendar.csv.zip -o/content/final_train
!7z e /content/train/sell_prices.csv.zip -o/content/final_train

In [ ]:
sales = pd.read_csv(r'/content/final_train/sales_train_evaluation.csv')
# sales.name = 'sales'
calendar = pd.read_csv(r'/content/train/calendar.csv')
# calendar.name = 'calendar'
prices = pd.read_csv(r'/content/final_train/sell_prices.csv')
# prices.name = 'prices'

In [ ]:
from downcast import reduce

In [ ]:
sales.head(5)

                              id        item_id  ... d_1940 d_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0

[5 rows x 1947 columns]

In [ ]:
prices.head(5)

  store_id        item_id  wm_yr_wk  sell_price
0     CA_1  HOBBIES_1_001     11325        9.58
1     CA_1  HOBBIES_1_001     11326        9.58
2     CA_1  HOBBIES_1_001     11327        8.26
3     CA_1  HOBBIES_1_001     11328        8.26
4     CA_1  HOBBIES_1_001     11329        8.26

In [ ]:
calendar.head(5)

         date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0  2011-01-29     11101   Saturday  ...        0        0        0
1  2011-01-30     11101     Sunday  ...        0        0        0
2  2011-01-31     11101     Monday  ...        0        0        0
3  2011-02-01     11101    Tuesday  ...        1        1        0
4  2011-02-02     11101  Wednesday  ...        1        0        1

[5 rows x 14 columns]

In [ ]:
# replacing NaN value with 'No_event'
calendar.fillna('No_event',inplace=True)
calendar.head(5)

         date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0  2011-01-29     11101   Saturday  ...        0        0        0
1  2011-01-30     11101     Sunday  ...        0        0        0
2  2011-01-31     11101     Monday  ...        0        0        0
3  2011-02-01     11101    Tuesday  ...        1        1        0
4  2011-02-02     11101  Wednesday  ...        1        0        1

[5 rows x 14 columns]

In [ ]:
# Reducing memory size of DataFrame using Reduce function from downcasting library.
# https://medium.com/@deepakec1031/how-to-reduce-pandas-data-frame-size-using-downcast-e00cfed8e2c5
sales= reduce(sales)
prices= reduce(prices)
calendar= reduce(calendar)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 1. Time based feature

### 1.1   Feature name: is_high_sale_months
* in EDA i found that February,march,april, may are the high sale month. so i am going to make one feature to represent high sale month

In [ ]:
f=lambda x: 1 if x==2 or x==3 or x==4 or x==5 else 0
calendar['is_high_sale_months']=calendar['month'].map(f) 
calendar

           date  wm_yr_wk    weekday  ...  snap_TX  snap_WI  is_high_sale_months
0    2011-01-29     11101   Saturday  ...        0        0                    0
1    2011-01-30     11101     Sunday  ...        0        0                    0
2    2011-01-31     11101     Monday  ...        0        0                    0
3    2011-02-01     11101    Tuesday  ...        1        0                    1
4    2011-02-02     11101  Wednesday  ...        0        1                    1
...         ...       ...        ...  ...      ...      ...                  ...
1964 2016-06-15     11620  Wednesday  ...        1        1                    0
1965 2016-06-16     11620   Thursday  ...        0        0                    0
1966 2016-06-17     11620     Friday  ...        0        0                    0
1967 2016-06-18     11621   Saturday  ...        0        0                    0
1968 2016-06-19     11621     Sunday  ...        0        0                    0

[1969 rows x 15 columns]

### 1.2 Feature name: is_high_sale_day
* in EDA i found that friday,saturday,sunday are the high sale day in every week.so i am giong to make feature to represent high sale day.

In [ ]:
f=lambda x: 1 if x==7 or x==1 or x==2 else 0
calendar['is_high_sale_day']=calendar['wday'].map(f) 
calendar

           date  wm_yr_wk  ... is_high_sale_months  is_high_sale_day
0    2011-01-29     11101  ...                   0                 1
1    2011-01-30     11101  ...                   0                 1
2    2011-01-31     11101  ...                   0                 0
3    2011-02-01     11101  ...                   1                 0
4    2011-02-02     11101  ...                   1                 0
...         ...       ...  ...                 ...               ...
1964 2016-06-15     11620  ...                   0                 0
1965 2016-06-16     11620  ...                   0                 0
1966 2016-06-17     11620  ...                   0                 1
1967 2016-06-18     11621  ...                   0                 1
1968 2016-06-19     11621  ...                   0                 1

[1969 rows x 16 columns]

### 1.3 Feature name:is_christmas
* in EDA i found in every christmas sale is almost zero.so i am going to make feature to represent wheatehr day having christmas or not.

In [ ]:
f=lambda x: 1 if x=='Christmas' else 0
calendar['is_christmas']=calendar['event_name_1'].map(f)
calendar

In [ ]:
calendar[calendar['event_name_1']=='Christmas']

           date  wm_yr_wk  ... is_high_sale_day  is_christmas
330  2011-12-25     11148  ...                1             1
696  2012-12-25     11248  ...                0             1
1061 2013-12-25     11348  ...                0             1
1426 2014-12-25     11447  ...                0             1
1791 2015-12-25     11547  ...                1             1

[5 rows x 17 columns]

## 2. Lags

* in EDA i found that we cant found periodicity in month or in year but we can find the periodicity in weeks.in that concern to capture periodic info "lag" is one technique to capture periodicity. 
* not forget we are going to take lags of target variable. which is "sold"
* lets gather the data into single dataFrame.

In [ ]:
df_sales=pd.melt(sales, id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'], var_name='d', value_name='sold')

In [ ]:
df_sales

In [ ]:
df_final= pd.merge(df_sales, calendar, on='d', how='left')

In [ ]:
df_final= pd.merge(df_final, prices, on=['store_id','item_id','wm_yr_wk'], how='left')

In [ ]:
df_final

* lets understand how feature will get created.and what that feature value represent.
1. lag 1:means how many products have been sold one day before.
2. lag 7:means how many products have been sold seven day before.
3. i am going to creat lag for this many days. lags=[1,7,14,21,28,35,42,49,56,63,70]

### 2.1 Feature Name : ['lag_7', 'lag_14','lag_21', 'lag_28', 'lag_35', 'lag_42', 'lag_49', 'lag_56', 'lag_63','lag_70']

In [ ]:
lags=[1,7,14,21,28,35,42,49,56,63,70]
for i in tqdm.tqdm(lags):
    df_final['lag_'+str(i)]=df_final.groupby(['id'])['sold'].shift(i)

In [ ]:
df_final.head(5)

In [ ]:
df_final.columns

* if you see in dataframe there is lot of NaN value get created. i am replacing NaN value with "0".

In [ ]:
lags=['lag_1','lag_7', 'lag_14','lag_21', 'lag_28', 'lag_35', 'lag_42', 'lag_49', 'lag_56', 'lag_63','lag_70']
for i in lags:
    df_final[i]=df_final[i].fillna(0)

In [ ]:
df_final.head(5)

In [ ]:
with open(r'a_before_rolling.pkl','wb') as f:
    pickle.dump(df_final, f)

In [ ]:
## copy your csv into Google drive
import shutil
# original = r'original path where the file is currently stored\file name.file extension'
# target = r'target path where the file will be copied\file name.file extension'
original=r'/content/a_before_rolling.pkl'
target=r'/content/drive/MyDrive/Project Files/a_before_rolling.pkl'
shutil.copyfile(original, target)

## 3. Rolling Window
* This is another technique to capture perriodicity.
* in this technique we are going to apply some statistical techniques on window.here window mean last some days 
* example if i say window=7 and statistical techniques=mean, then we are going to take last 7 day and apply mean on them  the result will be your feature. we can apply median , min max .. any thing.

* abount Transfom function: https://pbpython.com/images/transform-example.png

* lets understand how this function works.
1. we are grouping the element based on product id .there are 30490 unique ids are there. for each product we have 1941 days of data.
2. so on every product id we are we are appling pandas rolling function.
3. then transfor function will again assign value to DataFrame based on id.
4. for more understanding inhave taken small toy example apply same logic on that.

In [ ]:
df1=pd.read_excel(r"C:\Users\Lenovo\Downloads\sales_transactions.xlsx")

In [ ]:
df1

In [ ]:
df1.groupby('account')['quantity'].transform(lambda s: s.rolling(2).mean())

* appling same logic on real DataFrame

In [ ]:
df_final.head()

In [ ]:
# with open(r'/content/a_before_rolling.pkl', 'rb') as f:
#     df_final = pickle.load(f)

In [ ]:
window=[7,14,28,35,42]
for i in tqdm.tqdm(window):
    df_final['rolling_mean_'+str(i)]=df_final.groupby(['id'])['sold'].transform(lambda s: s.rolling(i).mean())

In [ ]:
# with open(r'b_before_rolling.pkl','wb') as f:
#     pickle.dump(df_final, f)

In [ ]:
df_final.columns

* if you see in dataframe there is lot of NaN value get created. i am replacing NaN value with "0".

In [ ]:
window=['rolling_mean_7','rolling_mean_14', 'rolling_mean_7' ,'rolling_mean_28', 'rolling_mean_35','rolling_mean_42']
for i in window:
    df_final[i]=df_final[i].fillna(0)

In [ ]:
df_final=reduce(df_final)

In [ ]:
df_final.head()

In [ ]:
with open(r'd_before_rolling.pkl','wb') as f:
    pickle.dump(df_final, f)

In [ ]:
# ## copy your csv into Google drive
# import shutil
# # original = r'original path where the file is currently stored\file name.file extension'
# # target = r'target path where the file will be copied\file name.file extension'
# original=r'/content/d_before_rolling.pkl'
# target=r'/content/drive/MyDrive/Project Files/d_before_rolling.pkl'
# shutil.copyfile(original, target)

## 4. Expanding Window

1. again this is one other technique to capture periodicity. 
2. expanding window is same as rolling window only difference is that here window size is not constant its dynamic.

In [ ]:
df_final['expanding_mean']=df_final.groupby(['id'])['sold'].transform(lambda s: s.expanding().mean())

* if you see in dataframe there is lot of NaN value get created. i am replacing NaN value with "0".

In [ ]:
df_final['expanding_mean']=df_final['expanding_mean'].fillna(0)

In [ ]:
df_final=reduce(df_final)

In [ ]:
df_final.head()

                              id  ... expanding_mean
0  HOBBIES_1_001_CA_1_evaluation  ...            0.0
1  HOBBIES_1_002_CA_1_evaluation  ...            0.0
2  HOBBIES_1_003_CA_1_evaluation  ...            0.0
3  HOBBIES_1_004_CA_1_evaluation  ...            0.0
4  HOBBIES_1_005_CA_1_evaluation  ...            0.0

[5 rows x 42 columns]

In [ ]:
with open(r'c_before_rolling.pkl','wb') as f:
    pickle.dump(df_final, f)

## 5. Label Encoding

* in this we are going to convert categorical variable into numeric using sklearn preprocessing library called LabelEncoder

In [ ]:
from sklearn.preprocessing import LabelEncoder
#https://www.mygreatlearning.com/blog/label-encoding-in-python/
labelencoder=LabelEncoder() 
category=['event_name_1','event_type_1','event_name_2','event_type_2','id','item_id','dept_id','cat_id','store_id','state_id']
for i in tqdm.tqdm(category):
    df_final[i+'_']=labelencoder.fit_transform(df_final[i])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [01:53<00:00, 11.39s/it]

In [ ]:
# with open(r'/content/d_before_rolling.pkl', 'rb') as f:
#     df_final = pickle.load(f)

In [ ]:
df_final=reduce(df_final)

In [ ]:
df_final.head(2)

                              id        item_id  ... store_id_ state_id_
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...         0         0
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...         0         0

[2 rows x 52 columns]

In [ ]:
with open(r'e_before_rolling.pkl','wb') as f:
    pickle.dump(df_final, f)

In [ ]:
# ## mounting google drive
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# ## copy your csv into Google drive
# import shutil
# # original = r'original path where the file is currently stored\file name.file extension'
# # target = r'target path where the file will be copied\file name.file extension'
# original=r'/content/b_before_rolling.pkl'
# target=r'/content/drive/MyDrive/Project Files/b_before_rolling.pkl'
# shutil.copyfile(original, target)

'/content/drive/MyDrive/Project Files/b_before_rolling.pkl'

In [ ]:
df_final=df_final.drop(['event_name_1','event_type_1','event_name_2','event_type_2','id','item_id','dept_id','cat_id','store_id','state_id'],axis = 1)

* converting day feature using numeric by removing hypen

In [ ]:
df_final

               d  sold       date  ...  cat_id_ store_id_  state_id_
0            d_1     0 2011-01-29  ...        1         0          0
1            d_1     0 2011-01-29  ...        1         0          0
2            d_1     0 2011-01-29  ...        1         0          0
3            d_1     0 2011-01-29  ...        1         0          0
4            d_1     0 2011-01-29  ...        1         0          0
...          ...   ...        ...  ...      ...       ...        ...
59181085  d_1941     1 2016-05-22  ...        0         9          2
59181086  d_1941     0 2016-05-22  ...        0         9          2
59181087  d_1941     2 2016-05-22  ...        0         9          2
59181088  d_1941     0 2016-05-22  ...        0         9          2
59181089  d_1941     1 2016-05-22  ...        0         9          2

[59181090 rows x 42 columns]

In [ ]:
l=[]
for i in df_final['d']:
    l.append(i.split('_')[1])
df_final['day']=l
#https://stackoverflow.com/questions/15891038/change-column-type-in-pandas
df_final['day']=df_final['day'].astype(np.int16)

* droping some duplicate feature.

In [ ]:
df_final.head(-1)

               d  sold       date  ...  store_id_ state_id_   day
0            d_1     0 2011-01-29  ...          0         0     1
1            d_1     0 2011-01-29  ...          0         0     1
2            d_1     0 2011-01-29  ...          0         0     1
3            d_1     0 2011-01-29  ...          0         0     1
4            d_1     0 2011-01-29  ...          0         0     1
...          ...   ...        ...  ...        ...       ...   ...
59181084  d_1941     4 2016-05-22  ...          9         2  1941
59181085  d_1941     1 2016-05-22  ...          9         2  1941
59181086  d_1941     0 2016-05-22  ...          9         2  1941
59181087  d_1941     2 2016-05-22  ...          9         2  1941
59181088  d_1941     0 2016-05-22  ...          9         2  1941

[59181089 rows x 43 columns]

In [ ]:
with open(r'df_final_.pkl','wb') as f:
    pickle.dump(df_final, f)

In [ ]:
## copy your csv into Google drive
import shutil
# original = r'original path where the file is currently stored\file name.file extension'
# target = r'target path where the file will be copied\file name.file extension'
original=r'/content/df_final_.pkl'
target=r'/content/drive/MyDrive/Project Files/df_final_.pkl'
shutil.copyfile(original, target)

'/content/drive/MyDrive/Project Files/df_final_.pkl'

In [ ]:
df_final=df_final.drop(['d','date'],axis=1)

In [ ]:
## copy your csv into Google drive
import shutil
# original = r'original path where the file is currently stored\file name.file extension'
# target = r'target path where the file will be copied\file name.file extension'
original=r'/content/df_final_final.pkl'
target=r'/content/drive/MyDrive/Project Files/df_final_final.pkl'
shutil.copyfile(original, target)

'/content/drive/MyDrive/Project Files/df_final_final.pkl'

In [ ]:
with open(r'df_final_final.pkl','wb') as f:
    pickle.dump(df_final, f)

In [ ]:
df_final=reduce(df_final)

In [ ]:
df_final.head()

   sold  wm_yr_wk   weekday  wday  ...  cat_id_  store_id_  state_id_  day
0     0     11101  Saturday     1  ...        1          0          0    1
1     0     11101  Saturday     1  ...        1          0          0    1
2     0     11101  Saturday     1  ...        1          0          0    1
3     0     11101  Saturday     1  ...        1          0          0    1
4     0     11101  Saturday     1  ...        1          0          0    1

[5 rows x 41 columns]