## considering only simple given features.

In [ ]:
with open(r'/content/df_final1.pkl', 'rb') as f:
    df_final_= pickle.load(f)

In [ ]:
df_final_[0]

          sold  wm_yr_wk  wday  month  ...  cat_id_  store_id_  state_id_   day
0            0     11101     1      1  ...        1          0          0     1
1            0     11101     1      1  ...        1          0          0     1
2            0     11101     1      1  ...        1          0          0     1
3            0     11101     1      1  ...        1          0          0     1
4            0     11101     1      1  ...        1          0          0     1
...        ...       ...   ...    ...  ...      ...        ...        ...   ...
59181085     1     11617     2      5  ...        0          9          2  1941
59181086     0     11617     2      5  ...        0          9          2  1941
59181087     2     11617     2      5  ...        0          9          2  1941
59181088     0     11617     2      5  ...        0          9          2  1941
59181089     1     11617     2      5  ...        0          9          2  1941

[59181090 rows x 39 columns]

In [ ]:
df_final=df_final_[0]

In [ ]:
data=df_final[['sold','wm_yr_wk',	'wday',	'month',	'year',	'snap_CA',	'snap_TX',	'snap_WI',	'event_name_1_',	'event_type_1_',	'event_name_2_',	'event_type_2_'	,'id_'	,'item_id_',	'dept_id_',	'cat_id_',	'store_id_'	,'state_id_'	,'day']]

In [ ]:
data.shape

(59181090, 19)

* dividing data into input data and output data

In [ ]:
x=data[['wm_yr_wk',	'wday',	'month',	'year',	'snap_CA',	'snap_TX',	'snap_WI',	'event_name_1_',	'event_type_1_',	'event_name_2_',	'event_type_2_'	,'id_'	,'item_id_',	'dept_id_',	'cat_id_',	'store_id_'	,'state_id_'	,'day']]

In [ ]:
y=data[['day','sold']]

In [ ]:
x.head()

   wm_yr_wk  wday  month  year  ...  cat_id_  store_id_  state_id_  day
0     11101     1      1  2011  ...        1          0          0    1
1     11101     1      1  2011  ...        1          0          0    1
2     11101     1      1  2011  ...        1          0          0    1
3     11101     1      1  2011  ...        1          0          0    1
4     11101     1      1  2011  ...        1          0          0    1

[5 rows x 18 columns]

In [ ]:
y.head()

   day  sold
0    1     0
1    1     0
2    1     0
3    1     0
4    1     0

* Dividing data into train and test

In [ ]:
x_train=x.loc[x['day']<1914]
x_test=x.loc[x['day']>=1914]

In [ ]:
print("x_train {}".format(x_train.shape))
print("\nx_test {}".format(x_test.shape))

x_train (58327370, 18)

x_test (853720, 18)

In [ ]:
x_train.head()

   wm_yr_wk  wday  month  year  ...  cat_id_  store_id_  state_id_  day
0     11101     1      1  2011  ...        1          0          0    1
1     11101     1      1  2011  ...        1          0          0    1
2     11101     1      1  2011  ...        1          0          0    1
3     11101     1      1  2011  ...        1          0          0    1
4     11101     1      1  2011  ...        1          0          0    1

[5 rows x 18 columns]

In [ ]:
x_test.head()

          wm_yr_wk  wday  month  year  ...  cat_id_  store_id_  state_id_   day
58327370     11613     3      4  2016  ...        1          0          0  1914
58327371     11613     3      4  2016  ...        1          0          0  1914
58327372     11613     3      4  2016  ...        1          0          0  1914
58327373     11613     3      4  2016  ...        1          0          0  1914
58327374     11613     3      4  2016  ...        1          0          0  1914

[5 rows x 18 columns]

In [ ]:
y_train=y.loc[y['day']<1914]
y_test=y.loc[y['day']>=1914]

In [ ]:
print("y_train {}".format(y_train.shape))
print("\ny_test {}".format(y_test.shape))

y_train (58327370, 2)

y_test (853720, 2)

In [ ]:
y_train.drop(columns=['day'],inplace=True)
y_test.drop(columns=['day'],inplace=True)

In [ ]:
print("y_train {}".format(y_train.shape))
print("\ny_test {}".format(y_test.shape))

y_train (58327370, 1)

y_test (853720, 1)

In [ ]:
with open(r'spliting_data_only_given_feature.pkl','wb') as f:
    pickle.dump([x_train,x_test,y_train,y_test], f)

In [ ]:
with open(r'/content/spliting_data_only_given_feature.pkl', 'rb') as f:
    x_train,x_test,y_train,y_test= pickle.load(f)

### 1.1 Linear regression with lasso. (L1 regularization)

* model training

In [ ]:
from sklearn import linear_model
clf = linear_model.Lasso(alpha=0.1)
clf.fit(x_train,y_train)

Lasso(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [ ]:
y_predicted=clf.predict(x_test)

In [ ]:
y_predicted.shape

(853720,)

In [ ]:
y_test['sold'].shape

(853720,)

In [ ]:
from sklearn.metrics import mean_squared_error
RMSE=mean_squared_error(y_test['sold'], y_predicted, squared=True)
print('RMSE using Linear regreation with L1 :',RMSE)

RMSE with Linear regreation with L1 : 13.05074764699362

### 1.2 Linear regression with ridge. (L2 regularization)

In [ ]:
from sklearn import linear_model
clf = linear_model.Ridge(alpha=0.1)
clf.fit(x_train,y_train)

Ridge(alpha=0.1, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [ ]:
y_predicted=clf.predict(x_test)

In [ ]:
y_predicted.shape

(853720, 1)

In [ ]:
y_test['sold'].shape

(853720,)

In [ ]:
from sklearn.metrics import mean_squared_error
RMSE=mean_squared_error(y_test['sold'], y_predicted, squared=True)
print('RMSE using Linear regreation with L2:',RMSE)

RMSE with Linear regreation with L2: 12.978252435224604

### 1.3 DecisionTreeRegressor

In [ ]:
from sklearn.tree import DecisionTreeRegressor
clf=DecisionTreeRegressor(random_state=0)
clf.fit(x_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [ ]:
y_predicted=clf.predict(x_test)

In [ ]:
y_predicted.shape

(853720,)

In [ ]:
y_test['sold'].shape

(853720,)

In [ ]:
from sklearn.metrics import mean_squared_error
RMSE=mean_squared_error(y_test['sold'], y_predicted, squared=True)
print('RMSE using DecisionTreeRegressor:',RMSE)

RMSE using DecisionTreeRegressor: 8.768130066063815

### 1.4 LGBMRegressor

In [ ]:
from lightgbm import LGBMRegressor
clf=LGBMRegressor(n_jobs=- 1)
clf.fit(x_train,y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
y_predicted=clf.predict(x_test)

In [ ]:
y_predicted.shape

(853720,)

In [ ]:
y_test['sold'].shape

(853720,)

In [ ]:
from sklearn.metrics import mean_squared_error
RMSE=mean_squared_error(y_test['sold'], y_predicted, squared=True)
print('RMSE using LGBMRegressor:',RMSE)

RMSE using LGBMRegressor: 11.665151326573083

In [1]:
from prettytable import PrettyTable
  
# Specify the Column Names while initializing the Table
myTable =PrettyTable(["Model", " Test RMSE Score"])
  
# Add rows
myTable.add_row(["Linear regression with L2 regularization" ,"1.9920387972945417"])
myTable.add_row(["LGBM Regressor", "1.738475431991473"])
myTable.add_row(["-------", "-------"])


print(myTable)

+------------------------------------------+--------------------+
|                  Model                   |   Test RMSE Score  |
+------------------------------------------+--------------------+
| Linear regression with L2 regularization | 1.9920387972945417 |
|              LGBM Regressor              | 1.738475431991473  |
|                 -------                  |      -------       |
+------------------------------------------+--------------------+